<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> bbef57a2b95eac653e457c0cc1430b94668c07fd
